@model IEnumerable<qwerty.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<header>

  
<link href='@Url.Content("~/css/site2.css")' rel="stylesheet" type="text/css" />
</header>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item active">Department</li>
                </ol>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Department Table</h3>
            </div>
            <div class="card-body">
                <table class="table" id="table_per">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.department)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.department)
                                </td>

                                <td>
                                    <button type="button" class="btn btn-delete"
                                    onclick="location.href='@Url.Action("Delete", "Department", new { id = @item.Id })'"><i
                                        class="fas fa-solid fa-trash"></i></button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
            <div class="card-footer">
                
                <input type="button" value="Back" id="btndownload" class="btn btn-secondary"
                    onclick="location.href='@Url.Action("Create", "Department")'" />
            </div>
        </div>


    </div>
</section>
<script>
    $('#table_per').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "responsive": true,
    });</script>