@model qwerty.Models.UserPer

@{
    ViewData["Title"] = "Create";
}
<head>
  <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="~/css/site2.css">
  </head>
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
   /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #F3B0C3;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #FF968A;
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="UserPer" asp-action="Index">User
                            Permission</a></li>
                    <li class="breadcrumb-item active">Create</li>

                </ol>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add User Permision</h3>
                    </div>
                    <form asp-action="Create">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User</label>
                                </div>
                                <div class="col-md-6">
                                    <label>Permission</label>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                      <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>                                            
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="scrollbar">
                                        <div class="force-overflow">
                                            @foreach (var item in Model.AvailablePermission)
                                            {

                                                                      
                                                <div class="form-group clearfix">
                      
                                                    <div class="icheck-warning " >
                                                    
                                                        <input type="checkbox" id="@item.Text" name="SelectedPermission" value="@item.Value"
                                                            @if(Model.SelectedPermission.Contains(item.Value)) { <text>
                                                        checked </text>
                                                        }
                                                        /><label for="@item.Text"></label>@item.Text
                                                    

                                                    </div>
                                                </div>
                                            }
                                        </div>
                                       
                                    </div>
                                  
                                </div>
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6 pt-3">
                                    <input type="button" class="btn btn-add t-5" value="Add"
                                        onclick="location.href='@Url.Action("Create", "Permission")'" />
                                </div>
                               
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                                                 <button type="button" class="btn btn-secondary"
                                        onclick="location.href='@Url.Action("Index", "UserPer")'">Back</button>
                                <input type="submit" value="Create" class="btn btn-create" />
                            </div>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>

</section>

@*
    <div>
    <a asp-action="Index">Back to List</a>
    </div> *@

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
