@model IEnumerable<qwerty.Models.UserPer>
@using System.Data;
@* @model List<qwerty.Models.test> *@

@* @model qwerty.Models.UserPer *@

@{
    ViewData["Title"] = "Index";
}
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #C37B89;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<h1>User Permission Info</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        @{
            var i = 0;
            var table = ViewBag.table;

        }
        <thead>
            <tr>
                @for (i = 1; i < table.Columns.Count; i++)
                {
                    <th>
                        @table.Columns[i]
                    </th>
                }

                <th></th>



            </tr>
        </thead>

        <tbody>
            @foreach (DataRow n in @table.Rows)
            {
                <tr>
                    <td>
                        @n.ItemArray[1]
                    </td>
                    @for (int r = 2; r < n.ItemArray.Count(); r++)
                    {

                        @if (n.ItemArray[r].ToString() == "True")
                        {
                            <td>
                                <input type="checkbox" name="check" id="GFG" checked disabled><br>
                            </td>
                        }
                        else
                        {
                            <td>

                                <input type="checkbox" name="check" id="GFG" disabled><br>

                            </td>
                        }
                    }
                    <td>
                        <a asp-action="Edit" asp-route-id="@n.ItemArray[0]">Edit</a> |
                        <a asp-action="Details" asp-route-id="@n.ItemArray[0]">Detail</a> |
                        <a asp-action="Delete" asp-route-id="@n.ItemArray[0]">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>